<!DOCTYPE html>
<html>
  <head>
    <title>Formulario de Cadastro</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8" />
  </head>
  <body>
    <header>
      <img class="logo" src="/src/logo.png" alt="logo">
      <a class="cta" href="/login"><button>Login</button></a>
  </header>

    <h1>Preencha o Formulario para poder adotar um animal.</h1><br>
    <form action="<%= action %>" method="POST">
      <table>
        <tr>
            <div>
              <label for="nome">Nome:</label><br>
              <input type="text" name="edtNome" value="<%= usuario.nome %>" />
            </div>
            <div>  
              <label for="idade">idade:</label><br>
              <input type="number" name="edtIdade" value="<%= usuario.idade %>" />
            </div>
            <div>
              <label for="telefone">Telefone:</label><br>
              <input type="tel" id="tel" name="edtTelefone" value="<%= usuario.telefone %>" />
            </div>  
            <div>
              <label for="Cpf">Cpf:</label><br>
              <input type="number" max="11" name="edtCpf" value="<%= usuario.cpf %>" />
            </div>  
              <label for="Data de Nascimento">Data de Nascimento:</label><br>
              <input id="date" type="date" name="edtNasc" value="<%= usuario.nasc %>" />
            <div>
              <label for="senha">senha:</label><br>
              <input type="password" name="edtSenha" value="<%= usuario.senha %>" />
            </div>  
            <div>
              <label for="usuario">usuario:</label><br>
              <input type="text" name="edtLogin" value="<%= usuario.login %>" />
            </div>
            <tr>

              

              <td><a href="/"> <button class="btn btn-primary"> Cancelar </button>  </a></td>
              <td><button type="submit" value="Salvar" class="btn btn-primary">Save</button></td>
            </tr>
      </table>
    </form>
    <footer class="footer">
      <div class="footer__addr">
        <h1 class="footer__logo">Frada Joinville</h1>
          <br>
        <h3>Endereço:</h3>
        
        <address>
          Estrada Blumenau - Vila Nova, Joinville - SC, 89237-820<br>
              
          <a class="footer__btn" href="mailto:example@gmail.com">Mande-nos um e-mail</a>
        </address>
      </div>
      
      <ul class="footer__nav">
        <li class="nav__item">
          <h2 class="nav__title">Media</h2>
    
          <ul class="nav__ul">
            <li>
              <a href="#">Online</a>
            </li>

          </ul>
        </li>
        
        <li class="nav__item nav__item--extra">
          <h2 class="nav__title">Technology</h2>
          
          <ul class="nav__ul nav__ul--extra">
            
            <li>
              <a href="#">Software Design</a>
            </li>

            <li>
              <a href="#">Artificial Intelligence</a>
            </li>
            
            
          </ul>
        </li>
        
        <li class="nav__item">
          <h2 class="nav__title">Legal</h2>
          
          <ul class="nav__ul">
            
            <li>
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </li>
      </ul>
      
      <div class="legal">
        <p>&copy; Todos direitos reservados 2022.</p>

      </div>
    </footer>
  </body>
</html>

